.nav{
    background-color: rgb(36, 32, 32);
    padding: 1em;
    color: #fff;
    box-shadow: 0 2px 2px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
}